@page "/RegistroIngresos"
@inject IngresosBLL IngresosBLL

<EditForm Model="Ingresos" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>Registro de Ingresos</h3>
            </div>
            <div class="card-body">

                 @*IngresosId*@
                <div class="mb-3">
                    <InputNumber class="col col-4" @bind-Value="Ingresos.IngresoId" />
                    <ValidationMessage For="@(() => Ingresos.IngresoId)" />
                    <button type="button" class="btn btn-sm btn-primary" @onclick="Buscar"> <i class="oi oi-magnifying-glass" /> </button>
                </div>

                @*Fecha*@
                <div class=" mb-3">
                    <label class="form-group"> Fecha </label>
                    <div class="input-group">
                        <InputText class="form-control" @bind-Value="Ingresos.Fecha" placeholder="Coloque una Fecha" />
                        <ValidationMessage For="@(() =>Ingresos.Fecha)" />
                    </div>
                </div>

                @*Concepto*@
                <div class=" mb-3">
                    <label class="form-group"> Concepto </label>
                    <div class="input-group">
                        <InputText class="form-control" @bind-Value="Ingresos.Concepto" placeholder="Coloque un Concepto" />
                        <ValidationMessage For="@(() =>Ingresos.Concepto)" />
                    </div>
                </div>

                @*Monto*@
                <div class=" mb-3">
                    <label class="form-group"> Monto </label>
                    <div class="input-group">
                        <InputText class="form-control" @bind-Value="Ingresos.Monto" placeholder="Coloque un Monto" />
                        <ValidationMessage For="@(() =>Ingresos.Monto)" />
                    </div>
                </div>
            </div>

            <div class="card-footer d-flex justify-content-center">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" @onclick="Nuevo"> <i class="oi oi-file" /> Nuevo</button>
                    <button type="submit" class="btn btn-success" @onclick="Guardar"> <i class="oi oi-document" /> Guardar</button>
                    <button type="button" class="btn btn-danger"  @onclick="Eliminar"><i class="oi oi-trash" /> Eliminar</button>
                </div>
            </div>
        </div>
    </div>

</EditForm>


@code {
    public Ingresos Ingresos { get; set; } = new Ingresos();

    public void Buscar()
    {
        var buscar = IngresosBLL.Buscar(Ingresos.IngresoId);
        if (buscar != null)
            Ingresos = buscar;
    }

    public void Nuevo()
    {
        this.Ingresos = new Ingresos();
    }

    public void Guardar()
    {
        var guardar = IngresosBLL.Guardar(this.Ingresos);
        if (guardar)
            Nuevo();
    }

    public void Eliminar()
    {
        Buscar();
        if (IngresosBLL.Eliminar(this.Ingresos))
            Nuevo();
    }
}
